.App {
  text-align: center;
  color: white;
}

body {
  background-color: #282c34;
  max-width: 900px;
}

.msg {
  margin-top: 5%;
}

.received img {
  max-width: 60px;
  width: 100%;
  border-radius: 50%;
}

.sent img {
  max-width: 60px;
  width: 100%;
  border-radius: 50%;
}

.sent {
  text-align: right;
  color: white;
}

.received {
  color: white;
  text-align: left;
}

.form-text {
  width: 90%;
}

.header {
  background-color: #7f8694;
  color: #f1f1f1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sign-out {
  background-color: #f44336;
}

.sign-in {
  background-color: #555555;
}
